/* 체크박스 영역 */
.store-login-saveid:hover {
  cursor: pointer;
}

#store-login-saveid-check {
  display: none;
}

.store-login-custom-check {
  width: 18px;
  height: 18px;
  border: 1px solid #999;
  border-radius: 20px;
  margin-right: 8px;
  position: relative;
  box-sizing: border-box;
  right: 142px;
}

.store-login-custom-check::after {
  content: '✓';
  color: #777;
  position: absolute;
  left: 4px;
  bottom: 1px;
  font-size: 10px;
  font-weight: 900;
}

.store-login-custom-check,
.store-login-saveid-text {
  display: inline-block;
  vertical-align: middle;
  top: 16px;
}

.store-login-saveid-text {
  color: #858585;
  top: 16px;
  position: relative;
  right: 148px;
  font-size: 14px;
}

#store-login-saveid-check:checked + .store-login-custom-check {
  background-color: #999;
  border-color: #999;
}

#store-login-saveid-check:checked + .store-login-custom-check::after {
  color: #fff;
}

/* 테이블 */
.store-login-table {
  width: 450px;
  height: 500px;
  margin: 200px auto 200px auto;
  border: 1px solid #e0e0e0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.09);
}

.store-login-table tr:first-child {
  height: 60px;
}

.store-login-table tr:first-child td {
  padding-top: 2px;
}

.store-login-table tr td {
  border: none;
  padding: 10px;
}

/* 입력창 */
.store-login-input {
  position: relative;
  top: 30px;
  width: 90%;
  height: 60px;
  border-radius: 6px;
  border: 1px solid #999;
  font-size: large;
  padding-left: 12px;
  margin-bottom: -12px;
  margin-top: -12px;
}

/* 로그인 버튼 */
.store-login-btn-area {
  padding-left: 28px;
}

.store-login-btn {
  border-radius: 5px;
  width: 90%;
  height: 60px;
  border: none;
  background-color: #555;
  color: #fff;
  font-size: large;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.store-login-btn:hover {
  background-color: #999;
  cursor: pointer;
}

/* 탭 */
.store-login-tab {
  position: relative;
  text-align: center;
  right: 7px;
}

/* 업체 로그인 active (회원 로그인 active 그대로 따라감) */
.store-login-tab-on {
  position: relative;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  display: inline-block;
  padding: 20px;
  bottom: 5px;
  right: 18px;
  font-weight: 600;
}

/* 회원 로그인 비활성 */
.store-login-tab-off {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  width: 223px !important;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-top: none;
  border-right: none;
  border-bottom-right-radius: 4px;
  right: 18px;
  bottom: 4px;
  background-color: lightgray;
}

.store-login-tab-off:hover {
  background-color: #555;
  color: #fff;
}

.store-login-tab-off::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f5f5f5;
  z-index: -1;
  border-radius: inherit;
}

/* 에러 메시지 */
.store-login-error {
  position: relative;
  color: red;
  text-align: left;
  font-size: 13px;
  left: 22px;
  bottom: 10px !important;
  height: 20px;
}

/* 메인 영역 */
.store-login-main {
  background-color: #f9f9f9;
  width: 100vw !important;
  margin-left: calc(50% - 50vw) !important;
  margin-right: calc(50% - 50vw) !important;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 제목 */
.store-login-title {
  position: relative;
  bottom: 80px;
  font-weight: 400;
  font-size: 45px;
}

.store-login-subtitle {
  position: relative;
  bottom: 70px;
  font-size: 17px;
}

/* 하단 링크 */
.store-login-links {
  position: relative;
  bottom: 11px;
}

.store-login-link {
  color: #444;
}
